@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Hina Mincho', serif;
    box-sizing: border-box;
}
 nav .logo{
     font-weight: 600;
     font-size: 33px;
     color: #fff;


}
nav .menubtn{
    color: #fff;
}
nav{
    height: 80px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

}
nav ul{ display: flex;
list-style-type: none;

   }
   ul li{
       margin: 0px 8px;
   }
   nav li a{
       color: #fff;
       text-decoration: none;
       font-size: 18px;
       font-weight: 500;
       letter-spacing: 1px;
       /* background-color: #fff; */
       padding: 8px 3px;
       border-radius: 10px;
       transition: all 0.4s ease;


   }
nav li a:hover,
nav li a.active{
    background-color: #fff;
    color: #1b1b1b;
    border-radius: 10px;
}
@media(max-width: 700px){
    nav ul{
        position: fixed;
        top: 80px;
        left: 0px;
        background-color: #111;
        height: 100vh;
        width: 100vw;
        display: block;
        text-align: center;

    }
    nav li{
        margin: 30px 0px;

    }
    nav ul li a{
        font-size: 23px;
        display: block;
    }
    nav li a:hover,
    nav li a.active{background: none;
        color: cyan;
    

    }
}
